# python
__pycache__/
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

# IDE
.vscode/*

# Pip
*.egg-info

# files
*.log
*.pkl
*.jpg
*.pcd

# exp
exp

# data
data/

# lsf
*.bsub

# running scripts
scripts_dev/*

ckpt/
dataset/
exp/
vis/

build/
*.so
